<nav class="navbar navbar-dark bg-primary mb-5">
    <a class="navbar-brand" routerLink="/">Angular 6 Seed</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/users">User Listings</a>
        <a class="nav-item nav-link" routerLink="/posts">Posts</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div>
  </nav>